:root {
  --border-gray: #ddd;
  --default-spacing: 0.5rem;
}

.wizard,
.ticket
{
  padding: 2rem 3rem;
}
.ticket {
  text-align: center;
}

.header {
  display: flex;
}
.header > * {
  padding: 0 1rem 0 0;
  margin: 1.25rem 0;
}

.form {
  height: 9rem;
}
.navigation {
  padding: 1rem 0;
}
button {
  margin-right: var(--default-spacing);
}
hr {
  width: 15rem;
  margin-left: 0;
}

.advisement {
  font-size: 0.75rem;
  color: #d55;
  padding-left: var(--default-spacing);
  align-items: baseline;
}

select,
input {
  margin: 0.25rem var(--default-spacing);
  box-sizing: border-box;
  width: 10rem;
}
select {
  margin-right: 2rem;
  padding: 0.2rem 0.1rem;
  border-color: var(--border-gray);
}
input {
  padding: 0.2rem 0.2rem 0.2rem var(--default-spacing);
}

/* handle borders */
input:valid {
  border-width: 1px;
}
input:invalid {
  background-color: #FFF2F2;
  border-style: solid;
  border-width: 1px 4px 1px 1px;
  border-color: pink;
  border-color: #CC7700 #FCC #FCC #CC7700;
  border-style: solid;
}
input:required:placeholder-shown {
  background-color: #FFFBF2;
  border-width: 1px 4px 1px 1px;
  border-color: #FFCC44 #FFCC44 #eee #eee;
}
input::placeholder {
  font-style: italic;
  font-size: 0.75rem;
  color: #aaa;
}
input {
  border-width: 1px;
  /* border-style: outset; */
  border-style: solid;
  border-color: var(--border-gray);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
